/*general applications & classes*/
body {
    /*margin-top: 200px;*/
    font-family: helvetica;
    text-align: justify;
    color: white;
    background: url(http://static.thousandwonders.net/Annapurna.640.7708.jpg) no-repeat center center fixed;;

    background-size: cover;
}

p {
   margin-left: 50px;
   margin-right: 50px;
   text-align: justify; 
   font-size: 16px;
} 

a:link {
    color: #EBD0F6;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

* {
    /*border:2px solid black;*/
}

/*navigation bar*/
#navbar {
  text-align: center;
  font-family: helvetica;
  font-size: 14px;
  font-weight: bold;
  background-color: #FFFFFF;
 }
 
 #navbar li {
  display: inline-block;
  padding: 10px;
  background-color: transparent;
 } 
 
 #navbar a {
  color: #3d3f4a;
 }

#tableoc {
    text-align: left;
    text-align: center;
    font-family: helvetica;
    font-size: 11px;
    font-weight: normal;
    background-color: #FFFFFF;
    margin-left: 30%;
    margin-right: 30%;
    /*position: fixed;*/
 }
 
 #tableoc li {
  display: inline-block;
  padding: 2px;
  background-color: transparent;
  color: #3d3f4a;
  font-weight: bold;
 }

/*heading!*/
h1 {
  font: italic bold;
  padding: 1px 1px 0px 1px; 
  text-align: center;
  font-style: italic
}

h2 {
    text-align: center;
}

/*.transbox {*/
/*    background-color: #E9E9EA;*/
    /*opacity: 0.6;*/
/*    filter: opacity(10%);*/
/*    padding: nope;*/
/*}*/